@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --overlay-color: blueviolet;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* _____________________________________________________________________index.html_____________________________________________________________________ */
.homePage {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--overlay-color);
    color: black;
    z-index: 2;
    transition: 0.5s;
}

.homePage.active {
    right: 15%;
}

.homePage header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.homePage video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.5s;
}

.homePage.active video{
    left:-15%;
    transition: 0.5s;
}
/*this must be added to each .css script*/
.logo{
    font-size: 2.5em;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.logo:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.25);
    transition: 0.2s;
}

.toggle{
    position: relative;
    width : 60px;
    height: 60px;
    background: url('../WSOA3028A_1834243/images/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active{
    background: url('../WSOA3028A_1834243/images/close.png');
    color: white ;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;

}

.menu ul li a {
    text-decoration: none;
    font-size: 1em;
    color: black;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 100%;
    background: #ffffff;
    mix-blend-mode:overlay;
}
/*this must be added to each .css script*/

.text{
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 420;
    max-width: 700px;
}

.text a{
    display: inline-block;
    font-size: 1em;
    background: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
    
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}


@media(max-width: 850px)
{
    .homePage, 
    .homePage header{
        padding: 40px;
    }
    .homePage.active video
    {
        left: -35%;
    }

    .homePage.active
    {
        right: 35%;
    }

    .menu 
    {
        width:35%;
    }
    .menu ul li a
    {
        font-size: 1em;
    }
    .text h2{
        font-size: 3em;
    }
    .text h3{
        font-size: 2em;
    }
}

