@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --overlay-color: blueviolet;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



.Events section{margin-top:0px;}

.column{
    
    float:left;
    width: 100%;
    padding: 50px;
    z-index: 998;
}

.row{
    margin-top:50px;
    z-index: 999;
}

.row::after{
    position: fixed;
    content: "";
    clear: both;
    display: table;
    
}

.Events .breakFastClub_Vol1 .howlerlink{
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 1em;
    background: transparent;
    padding: 0px 0px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.Events .breakFastClub_Vol2 .howlerlink2{
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 1em;
    background: transparent;
    padding: 0px 0px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.Events {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding-top: 1%;
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--overlay-color);
    color: black;
    z-index: 2;
    transition: 0.5s;
}

.Events.active {
    right: 300px;
}

.Events header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Events video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.5s;
}

.Events.active video{
    left: -300px;
    transition: 0.5s;
}

.u-logo{
    font-size: 2.5em;
    font-weight: 300;
    position: relative;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.u-logo:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.25);
    transition: 0.2s;
}

.toggle{
    position: fixed;
    right:0;
    padding-right: 150px;
    z-index: 1000;
    width : 60px;
    height: 60px;
    background: url('../images/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer; 
    transition: 0.5s;
}

.toggle.active{
    background: url('../images/close.png');
    color: white ;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
    padding-right: 35%;
    transition: 0.5s;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;

}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 100%;
    background: #ffffff;
    mix-blend-mode:overlay;
}

.breakFastClub_Vol1 a{
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
    font-size: 1em;
    background: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    
}

.breakFastClub_Vol2 a{
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
    font-size: 1em;
    background: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}


.social {
    position: absolute;
    bottom: 20px;
    left: 7%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.Events .breakFastClub_Vol1 {
    
    float: right;
    display: block;
    box-sizing: border-box;
    z-index: 1;
    margin-left: 0;
}

.Events .breakFastClub_Vol2 {
    float: right;
    display: block;
    box-sizing: border-box;
    z-index: 1;
    margin-left: 0;
}

.Events .breakFastClub_Vol1 .eventlink:hover{
    letter-spacing: 6px;
    
    
}

.Events .breakFastClub_Vol2 .eventlink1:hover{
    letter-spacing: 6px;
    
    
}

.Events .breakFastClub_Vol1_IMG:hover
{
    transform: scale(1.05);
}

.Events .breakFastClub_Vol2_IMG:hover
{
    transform: scale(1.05);
}

.Events h1{
    justify-content: center;
    font-size: 5em;
    z-index: 1;
    margin-left: -175px;
    font-display:inherit;
}

.Events h2{
    justify-items: center;
    font-size: 2em;
    z-index: 1;
    font-display:inherit;
    margin-left: 70px;
}

.Events h3{
    justify-items: center;
    font-size: 2em;
    z-index: 1;
    font-display:inherit;
}



@media(max-width: 1500px)
{
    .Events, 
    .Events header{
        padding: 40px;
    }
    .breakFastClub_Vol1 a
    {
        display: inline-block;
        margin-left: 0;
        margin-top: 20px;
        font-size: 0.5em;
        background: #ffffff;
        padding: 5px 15px;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.2s;
    }

    .toggle.active
    {
        padding-right: 0;
        margin-right: 35%;
    }

    .breakFastClub_Vol2 a{
        display: inline-block;
        margin-left: 0;
        margin-top: 20px;
        font-size: 0.5em;
        background: #ffffff;
        padding: 5px 15px;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.2s;
    }
    
    .Events .breakFastClub_Vol1 {
        box-sizing: border-box;
        z-index: 1;
        margin-left: 50px;
    }
    
    .Events .breakFastClub_Vol2 {
        box-sizing: border-box;
        z-index: 1;
        margin-left: 50px;
    }

    .Events .breakFastClub_Vol1 .howlerlink{
        display: inline-block;
        margin-left: 0px;
        margin-top: 20px;
        font-size: 1em;
        background: transparent;
        padding: 0px 0px;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.2s;
    }
    
    .Events .breakFastClub_Vol2 .howlerlink2{
        display: inline-block;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 1em;
        background: transparent;
        padding: 0px 0px;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.2s;
    }
    
    

    .Event .u-photo{
        width: 100%;
        margin-left: 200px;
        height: 100%;
    }

    
    
    .Events .breakFastClub_Vol1_IMG:hover
    {
        transform: scale(1.05);
    }
    
    .Events .breakFastClub_Vol2_IMG:hover
    {
        transform: scale(1.05);
    }
    
    .Events.active video
    {
        left: -35%;
    }

    .Events.active
    {
        right: 35%;
    }

    .menu 
    {
        width:35%;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 1em;
        color: black;
    }

    .Events h1{
        
        font-size: 2.5em;
        margin-left: -30px;
        margin-right: -80px;
        justify-content: left;
    }
    .Events h2{
        font-size: 1.25em;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
        
    }
    .Events h3{
        font-size: 1.25em;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:500px)
{
    .Events h1{
        font-size: 1em;
    }
    .Events h2{
        font-size: 0.75em;
    }
    .Events h3{
        font-size: 0.75em;
    }
}