/* _____________________________________________________________________about.html_____________________________________________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --overlay-color: blueviolet;
}

#moreText{display: none;}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.ShowMoreButton{
    margin-left: 43%;
    margin-bottom: 15px;
    justify-content: center;
}

.aboutInfo{
    margin-top: 10%;
    position: relative;
    z-index: 10;
    max-width: 85%;
    border-radius: 20px;
    background-color: #f2f2f2be;
    padding: 10px;
}

.aboutInfo h1{
    font-size: 3em;
    margin: 20px 0;
    font-weight: 420;
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.aboutInfo h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.aboutInfo h3 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    
}

.aboutInfo p {
    /*font-size: 1.5em;*/
    margin: 20px 0;
    font-weight: 420;
    /*max-width: 700px;*/
    text-align: center;
    align-items: center;
}

.aboutInfo p1{
    font-size: 1.25em;
    margin:20px 0;
    font-weight: 200;
    text-align: right;
    align-items: center;
}

.aboutInfo a{
    display: inline-block;
    font-size: 1em;
    background: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.aboutInfo a:hover {
    
    letter-spacing: 6px;
    
}


.aboutMe {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding-top: 1%;
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--overlay-color);
    color: black;
    z-index: 2;
    transition: 0.5s;
}

.aboutMe.active {
    right: 300px;
}

.aboutMe header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.aboutMe video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.5s;
}

.aboutMe.active video{
    left: -300px;
    transition: 0.5s;
}

.u-logo{
    font-size: 2.5em;
    font-weight: 300;
    position: relative;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.u-logo:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.25);
    transition: 0.2s;
}

.toggle{
    position: fixed;
    right:0;
    padding-right: 150px;
    
    width : 60px;
    height: 60px;
    background: url('../images/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer; 
    transition: 0.5s;
}

.toggle.active{
    background: url('../images/close.png');
    color: white ;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
    padding-right: 35%;
    transition: 0.5s;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;

}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 100%;
    background: #ffffff;
    mix-blend-mode:overlay;
}

.column{

    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.column2{
    
    float: left;
    width: 25%;
    padding: 5px;
}

.row2::after{
    content: "";
    clear: both;
    display: table;
}

.social {
    position: absolute;
    bottom: 20px;
    left: 2.5%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

@media(max-width: 1400px)
{
    .aboutInfo{
        margin-top:145px;
    }
}


@media(max-width: 850px)
{
    .aboutMe, 
    .aboutMe header{
        padding: 40px;
    }
    .aboutInfo{
        margin-top: 75px;
    }

    .aboutInfo img{
        display: block;
    }

    .aboutMe.active video
    {
        left: -35%;
    }

    .column{
        width:100%; 
    }
    .column2{
        width:100%; 
    }

    

    .aboutMe.active
    {
        right: 35%;
    }

    .menu 
    {
        width:35%;
    }

    .menu ul li a
    {
        font-size: 1em;
    }

    .social
    {
        bottom: 1px;
    }

    .aboutInfo a
    {
        display:inline-block;
        font-size: 0.1em;
        
        background: #ffffff;
        padding: 4px 12px;
        text-decoration: none;
        color: black;
        margin-top:0;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.2s;
    }

    .aboutInfo h1
    {
        font-size: 2em;
    }

    .aboutInfo h2{
        font-size: 2em;
    }
    .aboutInfo h3{
        font-size: 2em;
    }
}
@media(max-width: 650px)
{
    .toggle
    {
        padding-right: 80px;
    }
}

@media(max-width: 300px)
{
    .aboutInfo h1
    {
        font-size: 1.25em;
    }

    .aboutInfo h2{
        font-size: 1em;
    }
    .aboutInfo h3{
        font-size: 1em;
    }
    .aboutInfo p{
        font-size: 0.75em;
    }
}